<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="oryzone_media_storage.persistence.adapter.null.class">Oryzone\MediaStorage\Persistence\NullPersistenceAdapter</parameter>
        <parameter key="oryzone_media_storage.persistence.adapter.doctrine.class">Oryzone\Bundle\MediaStorageBundle\Persistence\DoctrinePersistenceAdapter</parameter>
        <parameter key="oryzone_media_storage.persistence.adapter.doctrine.model_manager_name">default</parameter>
    </parameters>

    <services>
        <!-- oryzone_media_storage.persistence.adapter.null -->
        <service id="oryzone_media_storage.persistence.adapter.null" class="%oryzone_media_storage.persistence.adapter.null.class%">
        </service>

        <!-- oryzone_media_storage.persistence.adapter.doctrine.object_manager -->
        <service id="oryzone_media_storage.persistence.adapter.doctrine.object_manager" factory-service="doctrine" factory-method="getManager" class="Doctrine\ORM\EntityManager" public="false">
            <argument>%oryzone_media_storage.persistence.adapter.doctrine.model_manager_name%</argument>
        </service>

        <!-- oryzone_media_storage.persistence.adapter.doctrine -->
        <service id="oryzone_media_storage.persistence.adapter.doctrine" class="%oryzone_media_storage.persistence.adapter.doctrine.class%">
            <argument type="service" id="oryzone_media_storage.persistence.adapter.doctrine.object_manager"/>
        </service>

        <!-- Sets oryzone_media_storage.persistence.adapter.doctrine as the default one -->
        <service id="oryzone_media_storage.persistence.adapter" alias="oryzone_media_storage.persistence.adapter.doctrine">
        </service>
    </services>

</container>
